* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}
body {
    direction: rtl;
    font-family: ar-font, sans-serif;
}

header video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1;
}

header .overlay {
    background-color: rgba(255, 255, 255, 0.7);
}
header .brand {
    padding-top: 40px;
}

header .header-text {
    padding-top: 190px;
}
header .header-text h1 {
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 46px;
    color: #555555;
}
header .header-text p {
    font-size: 18px;
    line-height: 32px;
    color: #5d5d5d;
    margin-bottom: 50px;
}
header .header-button a.btn {
    padding: 22px 55px;
    background-color: #793679;
    color: #ffffff;
    margin-left: 15px;
}
header .header-button a.btn:last-child {
    background: transparent;
    color: #555555;
}
header .product {
    position: relative;
    margin-bottom: 30px;
}
header .product .product-img img {
    width: 100%;
}
header .product .product-label img {
    position: absolute;
    top: -50px;
    right: -50px;
}
header .product .product-label p {
    position: absolute;
    top: -25px;
    right: 0px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}
header .product .product-label span {
    display: block;
}

section.features {
    padding: 70px 0;
    background-color: #ffffff;
}
section.features .featuers-title h2 {
    font-size: 36px;
    color: #555;
    line-height: 32px;
    padding-bottom: 45px;
    position: relative;
}
section.features .featuers-title h2::after {
    content: "";
    width: 150px;
    height: 2px;
    background-color: #793679;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
section.features .media-features .d-flex {
    padding: 70px 0;
    border-bottom: 3px solid #eeeeee;
}
section.features .media-features .d-flex:nth-child(even) {
    direction: ltr;
}
section.features .media-features .d-flex img {
    margin: 0 80px;
}
section.features .media-features .d-flex h4 {
    font-size: 36px;
    font-weight: bold;
    color: #6a3093;
    padding: 0 25px;
    margin-bottom: 50px;
    border-right: 2px solid #6a3093;
}
section.features .media-features .d-flex:nth-child(even) h4 {
    border-right: 0;
    border-left: 2px solid #6a3093;
}
section.features .media-features .d-flex p {
    font-size: 18px;
    line-height: 32px;
    color: #555555;
}

section.prices {
    padding: 50px 0 60px;
    background-color: #f7f7f7;
}
section.prices .prices-text {
    font-size: 30px;
    color: #555555;
}
section.prices .plan-card {
    background-color: #ffffff;
    border: 2px solid #ededed;
    padding: 15px 0;
    margin-top: 100px;
    color: #a9a9ab;
}
section.prices .plan-card span.title {
    font-size: 18px;
    color: #793679;
}
section.prices .plan-card h5  {
    font-size: 48px;
    margin: 30px auto;
}
section.prices .plan-card h5 span {
    font-size: 15px;
    vertical-align: bottom;
}
section.prices .plan-card ul {
    padding: 0px;
}
section.prices .plan-card ul li {
    font-size: 15px;
    margin-bottom: 30px;
    list-style: none;
}
section.prices .plan-card a.btn {
    border: 2px solid #793679;
    background-color: #ffffff;
    color: #793679;
    padding: 10px 40px;
    border-radius: 0;
    transition: 0.5s all ease;
}
section.prices .plan-card a.btn:hover {
    background-color: #793679;
    color: #ffffff;
}
section.prices .col-md-6:nth-child(3) .plan-card {
    padding-top: 60px;
    margin-top: 55px;
}
section.prices .col-md-6:nth-child(3) .plan-card a.btn {
    background-color: #793679;
    color: #ffffff;
}

section.faq {
    padding: 55px 0;
    background-color: #ffffff;
}
section.faq .faq-title h2 {
    color: #555555;
    font-size: 30px;
    margin-bottom: 50px;
}
section.faq .accordion .accordion-item {
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    border-radius: 0;
}
section.faq .accordion .accordion-item button {
    font-size: 18px;
    color: #555;
    font-weight: bold;
}
section.faq .accordion .accordion-item .accordion-body {
    font-size: 15px;
    color: #cdcdcd;
    line-height: 24px;
}
section.faq .accordion .accordion-item .accordion-button:not(.collapsed) {
    background-color: #ffffff;
}
section.faq .accordion .accordion-item .accordion-button:focus {
    border: 0;
    box-shadow: none;
}

section.video {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
section.video video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
section.video .overlay {
    background-color: rgb(130, 77, 178, 0.9);
    min-height: 100%;
    position: absolute;
    inset: 0;
}
section.video .overlay button {
    position: absolute;
    bottom: 50%;
    right: 50%;
    font-size: 30px;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    transform: translate(50%,50%);
}
section.video .overlay button i {
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: 0 auto 40px;
}

section.contact {
    padding: 60px 0 50px;
    background-color: #131313;
}
section.contact h4 {
    font-size: 18px;
    color: #758594;
    margin-bottom: 15px;
    line-height: 50px;
}
section.contact form input,
section.contact form textarea {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    background-color: #242424;
    color: #6e6d6d;
    border: none;
    border-radius: 0;
    line-height: 35px;
    text-align: right;
    width: 90%;
}
section.contact form button {
    padding: 10px 24px;
    margin-top: 5px;
    background-color: #a044ff;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 3px;

}
section.contact form button i {
    margin-right: 15px;
}
section.contact .invalid-feedback {
    margin-bottom: 15px;
}

section.contact .blog a.blog-link {
    text-decoration: none;
}
section.contact .blog .d-flex {
    margin-bottom: 25px;
}
section.contact .blog h5 {
    font-size: 18px;
    color: #b9b9b9;
    margin-bottom: 15px;
    
}
section.contact .blog p {
    color: #555555;
    line-height: 20px;
}
 footer {
     background-color: #1d1d1d;
     padding: 20px 0 10px;
}
footer .list-inline .list-inline-item a{
    background-color: #758594;
    color: #1d1d1d;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s all ease;
}
footer .list-inline .list-inline-item a:hover {
    background-color: #5a5af7;
}
footer .copyright p {
    font-size: 16px;
    text-align: left;
    color: #919191;
}


@media (max-width: 992px) {
    header .header-text {
        padding-top: 80px;
    }
}
@media (max-width: 768px) {
    header .overlay .product {
        margin-top: 100px;
    }
    header .overlay .product .product-label img {
        right: 50%;
        transform: translateX(50%);
    }
    header .overlay .product .product-label p {
        right: 50%;
        transform: translateX(50%);     
    }
    section.features .media-features .d-flex {
        flex-flow: column;
        text-align: center;
    }
    section.features .media-features .d-flex img {
        margin: 0 auto 50px;
    }
    section.features .media-features .d-flex h4 {
        border: none !important;
    }
    section.contact h4 {
        margin-top: 15px;
    }
}
@media (max-width: 576px) {
    footer {
        text-align: center;
    }

    footer .copyright p {
        text-align: center;
    }
}